@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
.OurServicesParent{
    padding: 6em 6.5% 50px;
    
    font-family: "poppins";
    
}
.padup{
    padding:0%;
}
.writtenpart{
    width:82%;
}
.horizontalrule{
    
    width: 99%;
    margin: 0.8em 0 60px;
  
    height: 1px;
    background-color: #000000;
}
.Headingpart{
    color: #000000;
    width:50%;
    font-size: 2.7rem;
    font-weight: 500;
    text-transform: none;
    line-height: 3rem;
    letter-spacing: 0;
    
    padding-bottom: 1.5em;
}
.mid{
    
    display: flex;
   
}
.Contentpart{
    
    font-size: 0.85em;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    width: 85%;
    /* font-weight: 300;
    font-size: 14px;
    width: 80%; */
}
.Accordion{
    width: 100%;   
}
.Accordion h4{
    font-weight: 600;
font-size: 18px;
line-height: 1.5em;
    
}
.buttonParent{
    margin-top: 40px;
}


.smallOurServices{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 0.6px;
    /* font-family: "poppins";
    font-weight: 300;
    font-size: small; */
}

@media only screen and (max-width:1024px) {
    .OurServicesParent{
        padding: 6em 2%;   
    }
    .Headingpart{
        width:100%;
        padding-bottom: 0.8em;
    }
 
}
@media only screen and (max-width:767px) {
    .OurServicesParent{
        padding-left:4%;
        padding-right:4%;
        
        
        
    }
    .mid{
    
        display: flex;
        flex-direction: column;
       
    }
    .writtenpart{
        width: 100%;
    }
    .Contentpart{
        width:100%;
    }
    .Accordion{
        margin-top: 1.8em;
   
  
    }
    .Accordion h4{
       
    font-size: 14px;
  
        
    }
    .Headingpart{
        width:100%;
       
    }
    }