@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
.OurServicesParent{
    padding: 9em 6.5% 50px;
    
    font-family: "poppins";
    
}
.horizontalrule{
    
    width: 99%;
    margin: 0.8em 0 60px;
  
    height: 1px;
    background-color: #000000;
}
.Headingpart{
    font-size: 20px;
    padding-bottom: 2em;
}
.mid{
    width: 100%;
    display: flex;
    gap:1em
}
.Contentpart{
    font-weight: 300;
    font-size: 14px;
    width: 80%;
}
.Accordion{
    width: 100%;
    padding: 0;
    
}
.buttonParent{
    margin-top: 30px;
}


.smallOurServices{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 0.6px;
    /* font-family: "poppins";
    font-weight: 300;
    font-size: small; */
}