@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');


.intro_main{
        
    padding: 100px 0 70px;
   font-family: 'Poppins', sans-serif;
}

.intro_main .head_kr_intro{
    margin-bottom: 1em;
    padding-left:10% ;
    padding-right:10% ;
}

.intro_main .head_kr_intro span{
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 1.2px;
    background-color: #000000;
    padding: 2px 12px;
    border-radius: 10px;
    
}


.intro_main .head_kr_intro2 {
    padding-left:10% ;
    padding-right:10% ;

    font-size: 109px;
    font-weight: 500;
    text-transform: none;
    line-height: 1em;
    letter-spacing: -0.8px;
    white-space: normal;
    margin-bottom: 1.2em;
}
.intro_main .vision_sub_kr{
    padding: 5em 10% 0;
}

.intro_main .vision_sub_kr p{
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 0.6px;
}
.intro_main .vision_hr_kr{
    
    width: 100%;
    margin: 0.6em 0 60px;
  
    height: 1px;
    background-color: #000000;
    
}
.intro_main .image_vision_kr{

   

    width: 100%;
    height: 100%;
 
}
.intro_main .image_vision_kr video{
    width:100%;
  

}
.intro_main .service_vision_kr{
    display:flex;
width:100%;
}
.intro_main .box_kr{
    display:flex;
    width:58%;
}

.intro_main .service_vision_kr .sub_service1{
    width:44%;
}
.intro_main .service_vision_kr .sub_service2{
    width:60.34%;
}
.intro_main .service_vision_kr .sub_service3{
    width:39.66%;
}
.intro_main .sub_service1 .hd1 span{
    color: #fff;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 1.2px;
    background-color: #000;
    padding: 2px 12px;
    border-radius: 10px;

}
.intro_main .sub_service1 .hd1{
    margin-bottom: 1rem;
}

.intro_main .sub_service1 .desc1{
    margin-right:9%;
}
.intro_main .sub_service1 .desc1 h5{

font-size: 26px;
font-weight: 500;
text-transform: none;
line-height: 1.14em;
letter-spacing: 0.035rem;
white-space: normal;
margin: 0em 0em 1em 0em;
}
.intro_main .sub_service1 .rate span{
    

    font-size: 51px;
    font-weight: 700;
    line-height: 1em;

}
.intro_main .sub_service1 .rate{
    margin-bottom: 0.3em;
}
.intro_main .sub_service1 .review{
    font-size: 18px;
    margin-bottom: 0.3em;
}
.intro_main .sub_service1 .stars{
    margin-bottom: 1.5em;
}
.intro_main .sub_service1 .stars span{
    margin-left: 0.4em;
}



.intro_main .sub_service2 .hd2 h6{
font-size: 13px;
font-weight: 500;
text-transform: none;
letter-spacing: 0px;
white-space: normal;

}

.intro_main .sub_service2 .hd2{
    margin: 0em 0em 1em 0em;
}
.intro_main .sub_service2 .pp{
font-size: 22px;
line-height: 1.6em;
font-weight: 500;
letter-spacing:0rem ;
}

.intro_main .sub_service3 .hd3 h6{
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0px;
    white-space: normal;
    
    }
    .intro_main .sub_service3 .hd3{
        margin: 0em 0em 1em 0em;
    }

    .intro_main .sub_service3 .descrip p{  
    font-size: 14px;
    line-height: 1.5em;
    text-transform: none;
   font-weight: 300;
   letter-spacing: 0.01rem;
    }
    .intro_main .sub_service3 .descrip{
        margin: 0em 0em 1.25em 0em;
    }

    @media only screen and (max-width:1024px) {
        .intro_main .vision_sub_kr{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3.5em;
        
        }
        .intro_main .service_vision_kr{
            display:flex;
            flex-direction: column;
        
        }
        .intro_main .box_kr{
            display:flex;
            width:100%;
        }
        
        .intro_main .service_vision_kr .sub_service1{
            width:100%;
        }
        .intro_main .service_vision_kr .sub_service2{
            width:50%;
        }
        .intro_main .service_vision_kr .sub_service3{
            width:50%;
        }
    }


    @media only screen and (max-width:767px) {

        .intro_main .vision_sub_kr{
            padding-left:4%;
            padding-right: 4%;
           
                padding-top:3.5em;
            
        }

        .intro_main .image_vision_kr{
            width: 100%;
            height: 100%;
        }
        .intro_main .image_vision_kr img{
            min-width:800px;
            height:auto;
        }

        .intro_main .service_vision_kr{
            display: flex;
            flex-direction: column;
        }
        .intro_main .sub_service1 .desc1{
            margin-right:14%;
        }
        .intro_main .service_vision_kr .sub_service1{
            width:100%;
        }
        .intro_main .service_vision_kr .sub_service2{
            width:100%;
        }
        .intro_main .service_vision_kr .sub_service3{
            width:100%;
        }
        .intro_main .service_vision_kr .sub_service2{
            padding-bottom: 1.3em;
        }
        .intro_main .box_kr{
            display: flex;
            flex-direction: column;
        }
        .intro_main .head_kr_intro2 {
          
        
            font-size: 56px;
            font-weight: 500;
            text-transform: none;
            line-height: 1em;
            letter-spacing: -0.8px;
            white-space: normal;
            margin-bottom: 0.8em;
        }
        
    }