.contact_sec{
    text-align: center;
    padding: 30px 85px ;
    margin-top: 100px;
    background-color: #F8F8F8;
    position: relative;
    z-index: 99;
}

.hed_sec{
    font-size: 31px;
    letter-spacing: 0.5px;
    white-space: normal;
    margin: 0em 0em 1.5em 0em;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    
    font-weight: 500;
    text-transform: none;
    line-height: 1.2em;
}
.cont_btn {
    position: relative;

    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0000002E;
    box-shadow: inset 0 0px 0 -1px black;
    transition: box-shadow 0.6s ease-in-out;
 background-color: #F8F8F8;
    
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 27px 105px ;
    outline: none;
    cursor: pointer;
  }
  .cont_btn::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "LET'S BUILD";
    transition: all 0.6s;
  }
  .cont_btn::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: 'CONTACT US';
    transition: all 0.6s;
    color:white;
  }
  .cont_btn:hover::before {
    
    top: -100%;
  }
  .cont_btn:hover::after {
    top: 0%;
  }
  





  
  .cont_btn:hover {
    box-shadow: inset 0 -65px 0 -1px black;
    
  }
  @media screen and (max-width: 767px) {
    .contact_sec{
      text-align: left;
      
      padding: 0px 4% ;
  }
}
.myvideo{
  position: relative;
  z-index: 0;
}