
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
.cnt_form{
    height:700px;
    width:100%;
    background-color: black;
    padding:5% 5% 2%;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color:white;
    
}
.banner{
    margin-bottom: 0.7em;
    text-align: center;
    font-size: 1rem;
    opacity:0.75;
}
.subBanner{
    text-align: center;
    margin-bottom: 2.5em;
   padding: 0 13%;
   opacity:0.75;
}
.subBanner p{
    color: white;
    font-size:0.9rem;
    
}
.dts{
    display: flex;
    flex-direction: row;
    opacity:0.75;
}
.subdts1{
    width:50%;
    border: 0.5px solid gray;
    padding:15px 12px;
}
.subdts2{
    width:50%;
    border: 0.5px solid gray;
    padding:15px 12px;
}
.subdivpara p{
    font-size: 0.65rem;
    letter-spacing: 0.05rem;
    color: #4B4B4C;
    
}
.subdiv_input input,input::placeholder {
    font-size: 0.9rem;
    font-weight: 500;
    color:white;
}

   

.subdiv_input input{
    border:none;
    background-color: black;
    color:white;
}
.subdiv_input input:focus{
    border:none;
    outline: none;
}
.desc_text{
    padding-bottom: 0.5em;
}

.registerbtn {
    background: #AC8C66;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    }
    
    .registerbtn:hover {
    opacity:1;
    }
    .desc_text{
opacity:0.75;
    }
    .desc_text textarea{
        width:100%;
        background-color: black;
        color:white;
    }
    .desc_text textarea:focus{
        
        outline: none;
    }
    .desc_text textarea,textarea::placeholder {
        padding: 5px;
        font-size: 0.9rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color:white;
    }
