.SliderParent{
    padding: 0 6.5% ;
   
   
    
}
.SliderParent img{
   height: 400px;
    width: 100%;
    
}
.sliderimages{
    transition: all 1s;
}
.imageparent{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.arrows_slider{
    margin-left: 1rem;
    display: flex;
    height: 0;
    width: 20%;
    gap: 50%;
    padding-bottom: 80px;

}
.arrows_slider img{
    height: 60px;
    width: 20px;
}
@media only screen and (max-width:767px) {
    .arrows_slider{
        display: none;
    }
    .SliderParent{
        padding: 0 ;
       
       
        
    }
}