@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');




.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
 
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.09rem;
    z-index: 999;
  }
  
  .header ul {
    margin-top: 10px;
    padding: 10px 10px 20px;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .nav-links {
    
    padding: 20px 20px;
 
    text-decoration: none;
  }
  .nav-links::before {
    content: '';
    position: absolute;
    top:40px;
    left: 27px;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: all 0.6s ease-out;
    
  }
  
  .nav-links:hover::before {
    width: 25%;
  }
  
  .nav-links:hover {
    color: black;
    border-radius: 5px;
    transition: all 0.2s ease-out;
  }
  

  
  .header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
    color:black;
    margin-top: 0.4%;
    letter-spacing: -0.03em;
    background-color: #fff;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin-right: 15em;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 10px 0px ;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 20px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    min-height: 300px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .btn {
    position: absolute;

    margin-top: -0.1%;
    margin-left: 3%;
    color: black;
    background-color: #fff;
    font-size: 16px;
    border:none;
    cursor: pointer;
    
  }
  
  /* 48em = 768px */
  
  @media (min-width: 1024px) {
    .header li {
      float: left;
    }
    
    .header .nav-links {
      padding: 20px 25px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

@media screen and (max-width:1024px) {
    .header ul{
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .header .logo {
        margin-left: 2%;
        float: left;
    }

    .btn{
        display: none;
    }
    .header .menu-icon {
       
        cursor: pointer;
        display: inline-block;
      left:0px;
        padding: 10px 0px ;
        position: relative;
        user-select: none;
        float: right;
      }



}